/* ========================
   RESET & DEFAULTS
======================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

/* ========================
   TYPOGRAPHY Element Selectors
======================== */
h1 {
  font-size: 2.5rem;
  color: #5a3825;
}
h2 {
  font-size: 2rem;
  margin: 1rem;
  color: #6f4e37;
}
h3 {
  font-size: 1.6rem;
  padding: 3rem 2rem;
}
h4 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
  margin: 0.5rem;
  line-height: 1.6;
}

/* ================================
PSEUDO-CLASS SELECTORS
================================ */
a {
  padding: 15px 20px; /* padding ของ nav items */
  margin-right: 15px;
  color: #264de4;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: #3498db;
  text-decoration: underline;
}
a:visited {
  color: #761056;
}
a:active {
  color: #c0392b;
}
li:first-child {
  font-weight: bold;
}
li:last-child {
  margin-bottom: 0;
}

/* ========================
   LAYOUT & COMPONENTS 
   / Class Selectors
======================== */
.hero {
  height: 100vh; /*(full screen height)*/
  color: white;
  text-align: center;
  padding: 60px 20px; /*4. ข.(vertical, horizontal)*/
}
.hero h1 {
  font-size: 5vw;
  color: white;
  position: absolute; /* overlay text */
}

.section {
  width: 90%;
  max-width: 1200px;
  margin: 1rem;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}
.card {
  width: 500px;
  height: 420px;
  margin: 1rem;

  background: white;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
  min-width: 250px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-5px);
}

/* ========================
   HEADER & FOOTER
   / ID Selector
======================== */
#header {
  background: #e0cdb8;
  padding: 1.5rem;
  border-bottom: 2px solid #6f4e37;
  position: sticky;
  top: 0;
  z-index: 100;
}

#footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 30px 20px;
  margin-top: 40px;
}
